[package]
name = "shinqlx"
version = "0.5.4-rc.13"
authors = ["Markus 'ShiN0' Gaertner"]
edition = "2021"
readme = "README.md"
description = "ShiN0's QuakeLive extension in Rust"
repository = "https://github.com/mgaertne/shinqlx"
license-file = "LICENSE"
include = ["run_server_shinqlx.sh"]
publish = false

[lib]
name = "shinqlx"
path = "src/lib.rs"
test = true
bench = false
doc = true
proc-macro = false
harness = true
crate-type = ["cdylib"]

[profile.release]
strip = true
opt-level = 3
lto = true
codegen-units = 1

[dependencies]
ctor = ">=0.2"
rand = ">=0.8"
pyo3 = { version = ">=0.20", features = ["pyo3-macros", "extension-module", "nightly"]}
retour = ">=0.3.1"
derive_builder = ">=0.12"
once_cell = ">=1.19"
region = ">=3.0"
swap-arc = ">=0.1"
log = ">=0.4"
log4rs = { version = ">=1.2", default-features = false, features = ["console_appender", "pattern_encoder"] }
signal-hook = ">=0.3"
signal-hook-registry = ">=1.4"
itertools = ">=0.12"
regex = { version = ">=1.10", features = [] }
# dependencies to make -Z minimal-versions work
pest_derive = ">=2.7"

[target."cfg(target_os=\"linux\")".dependencies]
procfs = ">=0.16"
procfs-core = ">=0.16"
openssl-sys = ">=0.9.90"

[build-dependencies]
pyo3-build-config = { version = ">=0.20", features = ["resolve-config"] }
git2 = ">=0.18"

[dev-dependencies]
pretty_assertions = ">=1.4"
rstest = ">=0.18"
mockall = { version = ">=0.12", features = ["nightly"]}
serial_test = ">=2.0"

[patch.crates-io]
swap-arc = {git = "https://github.com/mgaertne/SwapArc", rev = "5966687"}
